.game-container {
  height: 730px;
  width: 500px;
  position: absolute;
  left: 80px;
}

.sky {
  background-image: url("./assets/fb-game-background.png");
  height: 580px;
  width: 500px;
  position: absolute;
}

.ground {
  background-image: url("./assets/bottom-background.png");
  height: 150px;
  width: 500px;
  position: absolute;
  top: 580px;
  z-index: +1;
}

.birdy {
  background-image: url("./assets/flappy-bird.png");
  position: absolute;
  width: 60px;
  height: 45px;
}

.obstacle {
  background-image: url("./assets/flappybird-pipe.png");
  height: 300px;
  width: 60px;
  position: absolute;
}

.upperObstacle {
  background-image: url("./assets/flappybird-pipe.png");
  height: 280px;
  width: 60px;
  position: absolute;
  transform: rotate(180deg);
}

@keyframes slideright {
  from {
    background-position: 10000%;
  }
  to {
    background-position: 0%;
  }
}

@-webkit-keyframes slideright {
  from {
    background-position: 10000%;
  }
  to {
    background-position: 0%;
  }
}

.ground-container {
  height: 150px;
  width: 580px;
  left: 80px;
  position: absolute;
}

.ground-animated {
  position: absolute;
  top: 580px;
  height: 150px;
  background-image: url("./assets/bottom-background.png");
  background-repeat: repeat-x;
  animation: slideright 100s infinite linear;
  -webkit-animation: slideright 100s infinite linear;
  width: 100%;
  z-index: +1;
}
.left-border {
  width: 80px;
  height: 790px;
  position: absolute;
  background-color: white;
  z-index: +2;
}

.right-border {
  width: 80px;
  height: 790px;
  position: absolute;
  background-color: white;
  z-index: +2;
  left: 580px;
}

.upper-border {
  width: 660px;
  height: 50px;
  position: absolute;
  background-color: white;
  z-index: +2;
  top: -50px;
}

.play-again {
  height: 50px;
  width: 200px;
  z-index: +2;
  position: absolute;
  left: 210px;
  bottom: 300px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 300;
  font-size: 1.7rem;
  border-radius: 20%;
  background-color: white ;
}

.end-game-text {
  height: 100px;
  width: 400px;
  color: red;
  position: absolute;
  left: 190px;
  bottom: 400px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3.5rem;
  font-weight: 1000;
}
